

<nav class="navbar navbar-dark " style="background-color: var(--verde);">
  <div class="row">
    <div class="col">
      <a class="navbar-brand" routerLink="/graphic">Dashboard</a> 
    </div>
    <div class="col">
      <a class="navbar-brand" routerLink="/report">Reportes</a> 
    </div> 
    <div class="col pull-right">
      <a class="navbar-brand" routerLink="/menu" >Menu</a> 
    </div> 
  </div>
</nav>



<div class="content">
  <router-outlet></router-outlet>
</div>
  





<app-footer></app-footer>